pkgbase = python-pythonfinder
	pkgdesc = Cross Platform Search Tool for Finding Pythons
	pkgver = 1.2.9
	pkgrel = 2
	url = https://github.com/sarugaku/pythonfinder
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	depends = python-attrs
	depends = python-cached-property
	depends = python-click
	depends = python-six
	depends = python-packaging
	source = https://files.pythonhosted.org/packages/py2.py3/p/pythonfinder/pythonfinder-1.2.9-py2.py3-none-any.whl
	sha512sums = e461b36d160e42901519054159e03c3febadc1515e0ef6059ab13208073a91c9b968ad59f8873b0c39abb6466c3aa0b7b921995588e2f64256114ec0b9dc1097

pkgname = python-pythonfinder
