[submodule "python-pythonfinder"]
	path = python-pythonfinder
	url = ssh://aur@aur.archlinux.org/python-pythonfinder.git
[submodule "python-pdm"]
	path = python-pdm
	url = ssh://aur@aur.archlinux.org/python-pdm.git
[submodule "python-pdm-pep517"]
	path = python-pdm-pep517
	url = ssh://aur@aur.archlinux.org/python-pdm-pep517.git
[submodule "python-atoml"]
	path = python-atoml
	url = ssh://aur@aur.archlinux.org/python-atoml.git
