pkgbase = python-pythonfinder
	pkgdesc = Cross Platform Search Tool for Finding Pythons
	pkgver = 1.2.6
	pkgrel = 2
	url = Cross Platform Search Tool for Finding Pythons
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	depends = python-attrs
	depends = python-cached-property
	depends = python-click
	depends = python-six
	depends = python-packaging
	source = pythonfinder-1.2.6.tar.gz::https://github.com/sarugaku/pythonfinder/archive/refs/tags/1.2.6.tar.gz
	sha512sums = 41ad53cbb886c4a8197f3975993cb2e10c644dee87420060661d51d503bf2163f45db7e9ab9c343a3a94b2936e63e960099be13055ba6f37462e6a208e39e0f6

pkgname = python-pythonfinder

