pkgbase = python-pdm-pep517
	pkgdesc = PEP 517 support for PDM
	pkgver = 0.7.2
	pkgrel = 1
	url = https://pdm.fming.dev/
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-pip
	depends = python
	source = https://files.pythonhosted.org/packages/source/p/pdm-pep517/pdm-pep517-0.7.2.tar.gz
	sha512sums = ffb82060d0cc3b32eac6a9e144d14d5d81fd859ee779614f09902c1bfc660748e4ceb683749e0188b1c163ea743d6e813217cc563a761a3dd2ff488cee7589be

pkgname = python-pdm-pep517

