pkgbase = python-pdm-pep517
	pkgdesc = PEP 517 support for PDM
	pkgver = 0.8.5
	pkgrel = 2
	url = https://pdm.fming.dev/
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	source = https://files.pythonhosted.org/packages/py3/p/pdm-pep517/pdm_pep517-0.8.5-py3-none-any.whl
	sha512sums = 8b76d8ae1d4dca59ee9a3131c500d88fd15dd7a0747a80b34202450ba488c4e2023cfe0bf9fb96249b0eb673c56dcb8c4be58d9268763d2c245153555d278a2a

pkgname = python-pdm-pep517
