pkgbase = python-pdm-pep517
	pkgdesc = PEP 517 support for PDM
	pkgver = 0.8.1
	pkgrel = 2
	url = https://pdm.fming.dev/
	arch = any
	license = MIT
	makedepends = python-pip
	depends = python
	source = https://files.pythonhosted.org/packages/py3/p/pdm-pep517/pdm_pep517-0.8.1-py3-none-any.whl
	sha512sums = b4fb0c22df5770d1b789abda14d382f6a0b765fc9870bc4324c9944ba7507aca22927df64f82943996ac5ed2f26c51d3c65eeec0e008caca7397bdaa0b4c31f1

pkgname = python-pdm-pep517
