name: Release any python-pkgbuild

on:
  workflow_dispatch:
    inputs:
      package:
        type: choice
        options:
          - python-atoml
          - python-tinyaes
          - python-pytest-drop-dup-tests
          - pyexiftool
          - pyinstaller
          - pyinstaller-hooks-contrib
        required: true
        description: 'The package name to release'

concurrency:
  group: ${{ github.workflow }}-${{ inputs.package }}-release
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Build
        id: build
        uses: samarthj/arch-pkgbuild-action@main
        with:
          pkgbuild_root: ${{ github.event.inputs.package }}
          aur_username: Sam
          aur_email: dev@samarthj.com
          aur_ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          is_python_pkg: true
          python_pkg_name: ${{ github.event.inputs.package }}
          use_pypi_release_version: true
          dry_run: false
        env:
          GOPATH: /home/builder/.local/share/go
          GOCACHE: /home/builder/.cache/go
      - name: Delete tag ${{ github.event.inputs.package }}
        uses: cb80/delrel@latest
        with:
          tag: ${{ github.event.inputs.package }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Release tag ${{ github.event.inputs.package }}
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.event.inputs.package }}
          name: ${{ steps.build.outputs.ver0 }}
          body: ${{ steps.build.outputs.ver0 }}
          allowUpdates: true
          replacesArtifacts: true
          artifacts: '*.tar.zst'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Import GPG key
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Setup git config
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "Sam"
          git config --global user.email dev@samarthj.com
          git config --global user.signkey dev@samarthj.com
          git config --global commit.gpgsign true
          git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
      - name: Rebase and Push
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add .
          git status
          [ -z "$(git diff FETCH_HEAD --stat)" ] && exit 0
          git commit --message "ci(github-actions): :package: updpkg: ${{ steps.build.outputs.ver0 }}"
          git fetch origin main
          git pull --rebase origin main
          git push
